<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Heroes</title>
</head>
<body>
  <p class="descuentos">Descuentos 20%</p>
  <header>
    <a href="/" class="logo">
      <img src="../img/logo.svg" alt="">
      <h1>Heroes</h1>
    </a>
    <nav>
      <ul>
        <li><a href="../views/contacto.html">Concacto</a></li>
        <li><a href="../views/registro.html">Registro</a></li>
        <li><a href="../index.html">Ingresa</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <div class="card">
        <img src="../img/like.png" alt="">
        <div class="content">
          <img src="../img/batman.jpg" alt="perfil">
          <h2>Batman</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed corrupti ullam repellendus voluptates doloribus obcaecati accusamus consequatur alias accusantium impedit eius quia aspernatur necessitatibus voluptatibus delectus velit perferendis blanditiis in, atque enim, nisi esse? Soluta corrupti, cum quis rerum accusamus perferendis, amet adipisci, magnam earum magni ullam in esse.</p>
        </div>
        <button class="btn-show-more">Ver más</button>
      </div>

      <div class="card card-quinn">
        <img src="../img/like.png" alt="">
        <div class="content">
          <img src="../img/quinn.png" alt="perfil">
          <h2>Harley Quinn</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed corrupti ullam repellendus voluptates doloribus obcaecati accusamus consequatur alias accusantium impedit eius quia aspernatur necessitatibus voluptatibus delectus velit perferendis blanditiis in, atque enim, nisi esse? Soluta corrupti, cum quis rerum accusamus perferendis, amet adipisci, magnam earum magni ullam in esse.</p>
        </div>
        <a href="personaje.html">
          <button class="btn-show-more">Ver más</button>
        </a>
      </div>

      <div class="card">
        <img src="../img/like.png" alt="">
        <div class="content">
          <img src="../img/joker.jpg" alt="perfil">
          <h2>Joker</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed corrupti ullam repellendus voluptates doloribus obcaecati accusamus consequatur alias accusantium impedit eius quia aspernatur necessitatibus voluptatibus delectus velit perferendis blanditiis in, atque enim, nisi esse? Soluta corrupti, cum quis rerum accusamus perferendis, amet adipisci, magnam earum magni ullam in esse.</p>
        </div>
        <button class="btn-show-more">Ver más</button>
      </div>

      <div class="card none">
        <img src="../img/like.png" alt="">
        <div class="content">
          <img src="../img/batman.jpg" alt="perfil">
          <h2>Batman</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste sed corrupti ullam repellendus voluptates doloribus obcaecati accusamus consequatur alias accusantium impedit eius quia aspernatur necessitatibus voluptatibus delectus velit perferendis blanditiis in, atque enim, nisi esse? Soluta corrupti, cum quis rerum accusamus perferendis, amet adipisci, magnam earum magni ullam in esse.</p>
        </div>
        <button class="btn-show-more">Ver más</button>
      </div>
    </section>
    <div class="add-super">
      <a href="/views/super.html">
        <img src="../img/+.png" alt="">
      </a>
    </div>
  </main>

  <footer>
    <p>Todos los derechos reservados a FRONT END 1</p>
  </footer>
</body>
</html>